.card-holder {
  padding-bottom: 30px;
}

.body-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bg-violet {
  background-color: #6738A6;
}

.bg-violet * {
  color: #FFFFFF;
}

.input-search .form-control {
  background-color: rgba(0, 0, 0, 0.3);
  /*border-color: rgba(0,0,0,0.3);*/
  border: none;
  color: #FFFFFF;
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.input-search .input-group-prepend {
  margin-right: 0px;
}

.input-search .input-group-text {
  background-color: rgba(0, 0, 0, 0.3);
  /*border: 1px solid rgba(0,0,0,0.3) !important;*/
  border: none;
  color: #FFFFFF;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.nav-container {
  position: relative;
}

.nav-dropdown {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 72px;
  left: 0px;
  background-color: #FFF;
  z-index: 20;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  padding: 15px;
}

.nav-item {
  height: 72px;
  padding-left: 16px;
  padding-right: 16px;
}

.nav-item a {
  line-height: 56px;
}

.nav-dropdown-btn:hover {
  background: #FFF;
}

.nav-dropdown-btn:hover .nav-link {
  color: #6738A6 !important;
}

.nav-dropdown-btn:hover .nav-link i {
  color: #6738A6 !important;
}

.nav-dropdown-btn:hover .nav-dropdown {
  visibility: visible;
}

.navbar-no-padding {
  padding: 0px;
}

.navbar-lg {
  height: 72px;
}


/*dropdown col*/

.dropdown-col {
  padding-left: 20px;
}

.dropdown-col * {
  color: #666;
}

.dropdown-col-title {
  text-transform: uppercase;
  margin-bottom: 5px;
  cursor: pointer;
  padding-left: 10px;
}

.dropdown-col-title a {
  color: #6738A6;
  line-height: 1.2;
}

ul.dropdown-col-list {
  padding: 0px;
}

ul.dropdown-col-list>li {
  list-style: none;
  line-height: 28px;
  padding-left: 10px;
  cursor: pointer;
}


ul.dropdown-col-list>li:hover {
  background-color: #CCC;
}


/*categorymodal*/

.category-modal .category-modal-type {
  margin-top: 18px;
  margin-bottom: 0px;
  color: #999;
  text-transform: uppercase;
}

.category-modal .category-modal-title {
  margin-top: 0px;
  margin-bottom: 32px;
  color: #6738A6;
  text-transform: uppercase;
  font-weight: 600;
}

.category-modal .category-modal-text {
  font-size: 28px;
  color: #999;
  margin-bottom: 32px;
  font-weight: 100;
}

.category-modal .category-modal-btn {
  margin-bottom: 48px;
}


/*carouselcss*/

.carousel-css {
  width: 100%;
  height: 500px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.carousel-css .slide {
  display: inline-block;
  width: 160px;
  height: 80px;
  float: left;
  text-align: center;
  position: static;
}

.carousel-css .slide-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: calc(100% - 100px);
  z-index: 18
}

.carousel-css .caption {
  position: relative;
  z-index: 20;
  cursor: pointer;
  color: #FFF;
}

.carousel-css .caption p {
  margin: 0px;
}

.carousel-css .caption .indicator {
  width: 80px;
  height: 4px;
  border-radius: 10px;
  background-color: #999;
  display: inline-block;
}

.carousel-css .slide:hover .slide-img {
  z-index: 19;
}

.carousel-css .slide:hover .indicator {
  background-color: #ffff00;
}


/*card*/

.card-disc .card-disc-title {
  margin: 0px;
  font-weight: 600;
}

.card-disc .card-disc-offer {
  font-size: 24px;
  margin: 0px;
}

.card-disc .card-disc-desc {
  margin-bottom: 20px;
}

.card-disc-sticker {
  position: absolute !important;
  top: 40%;
  right: 10px;
  border: 2px solid #6738A6;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  font-size: 14px;
  background-color: #FFF;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 5px;
  text-align: center;
}

/*btn*/

.btn.btn-primary {
  background-color: #6738A6;
  border-color: #4a267b;
  border-radius: 0px;
  box-shadow: 0px 5px 0px 0px #4a267b;
}

.btn.btn-primary:focus {
  background-color: #6738A6;
}

/*profile*/
.profile-nav{
  width: 140px;
  vertical-align: middle;
}

.profile-nav .lhs, .profile-nav .rhs{
  width: 50%;
  display: inline-block;
  float: left;
  vertical-align: middle;
}

.profile-nav .lhs{
  padding: 5px;
  text-align: right;
}
.profile-nav .rhs p{
  margin: 0px;
}